.article {
  color: $color-primary;
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  border: solid rgba(0, 0, 0, 0.13) 1px;

  &--description {
    display: none;
    font-family: $font-secondary;
  }

  &--image {
    width: 100%;
  }

  &--paragraph {
    text-align: left;
    display: none;
  }

  &--button {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    margin: 10px;
  }
}

@media only screen and (min-width: 425px) {
  .article {
    &--title {
      height: 150px;
    }

    &--image {
      height: 130px;
    }

    &:first-child {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      h3 {
        height: 80px;
      }
      img {
        height: 250px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .article {
    &--title {
      height: 100px;
    }

    &--image {
      height: 200px;
    }

    &:first-child {
      img {
        height: 350px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .article {
    &--title {
      height: 140px;
    }
    &--image {
      height: 150px;
    }
    &:first-child {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      .button {
        bottom: 0;
        margin-bottom: 120px;
      }
      &:first-child {
        img {
          height: 300px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1020px) {
  .article {
    &:first-child {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      // img {
      //   height: 400px;
      // }
    }
  }
}
