.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);

  .nav {
    position: relative;

   &--icon {
      font-size: 20px;
      width: 60px;
      padding-left: 10px;
    }

    &--list {
      position: absolute;
      z-index: 1;
      top: 38px;
      left: 0;
      background-color: white;
      width: 200px;
      text-align: left;
   
      &--element {
        padding: 5px;
      }
    }
  }

  .logo {
    width: 100px;
  }

  .search-form {
    display: flex;
    position: relative;
     &--input {
      position:absolute;
      right:50px;
      top: 5px;
      height:25px;
     }

    &--button {
      font-size: 20px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    font-size: 20px;

    .nav {
      &--list {
        width: 300px;
        top: 42px;
      }
    }
  }
}
