@media only screen and (min-width: 425px) {
  .news {
    &--grid {
      display: grid;
      justify-content: center;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 48%);
      grid-template-rows: repeat(auto, auto);
    }
  }
}

@media only screen and (min-width: 768px) {
  .news {
    &--grid {
      grid-template-columns: repeat(3, 30%);      
    }
  }
}

@media only screen and (min-width: 1020px) {
  .news {
    &--grid {
      grid-template-columns: repeat(4, 20%);      
    }
  }
}
