@import "../../../components/layouts/styles/general-styles.scss";

%button {
  padding: 0.5rem 0.7rem;
  text-decoration: none;
  font-family: $font-secondary;
  width: 120px;
  border: none;
  transition: opacity 0.6s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

.button {
  &-primary {
    @extend %button;
    cursor: pointer;
    color: $color-secondary;
    background-color: $color-darkgray;
    font-size: 15px;
    font-weight: 700;
    
  }
  &-secondary {
    @extend %button;
    color: $color-secondary;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 15px;
    font-weight: 700;
    @include border-radius(5px);
  }
  &-icon {
    @extend %button;
    color: $color-primary;
    width: 50px;
    background-color: transparent;
  }
}
