@import './../../styles/variables.scss';

.footer {
  font-family: $font-special;
  height: 200px;
  @include flex-column-box;
 
  padding: 30px 20px 30px 20px;

  &--socialmedia {
    display: flex;
    justify-content: center;

    &--icon {
      width: 35px;
      padding: 10px;
      border: 1px solid $color-lighter-gray;
    }
  }

  &--info {
    // &--logo {
    //   margin: 10px;
    //   width: 100px;
    //   margin-bottom: 30px;
    // }

    &--apititle {
      margin: 10px;
      width: 100px;
      margin-bottom: 30px;
    }

    &--paragraph {
      // background-color: invert($color-gray, 80%);
      //  border: black solid 1px;
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    &--socialmedia {
      &--icon {
        width: 43px;
        padding: 10px 5px 10px 5px;
      }
    }

    &--info {
      // &--logo {
      //   width: 150px;
      // }
      &--paragraph {
        font-size: 1rem;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    align-items: center;
    &--socialmedia {
      width: 40%;
    }
    &--info {
      display: flex;
      align-items: center;

      // &--logo {
      //   margin: 0px;
      //   margin-right: 40px;
      // }
    }
  }
}
